.sidebar {
  width: 240px;
  background: #0B2E33;
  color: white;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1200;
  transition: transform 0.3s ease;
}

/* Desktop always visible */
@media (min-width: 769px) {
  .sidebar {
    transform: translateX(0) !important;
  }
}

.logo-section {
  text-align: center;
  margin-bottom: 40px;
}

.logo {
  width: 70px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.sidebar nav a {
  display: block;
  padding: 15px;
  margin-bottom: 12px;
  text-decoration: none;
  color: white;
  border-radius: 12px;
  transition: 0.3s;
}

.sidebar nav a:hover {
  background: #4F7C82;
}

.sidebar nav a.active {
  background: #93B1B5;
}

/* MOBILE */
@media (max-width: 768px) {

  .sidebar {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1100;
  }

}